body
{
	background-color: black;
	color: #e8ecf4;
	font-family: Arial;
	font-weight: bold;
}
img#logo
{
	width: 100px;
}
ul{
	
}
li{
	list-style-type: none;
	display: inline;
	position:relative;
	bottom:25px;
	padding:10px;
	

}


header
{
	background-color:black;
	position:fixed;
	top:0px;
	width:100%;
	z-index:5;
}
input[type=search]
{
	width:200px;
	border-radius: 5px;
	border:0px solid black;
	padding: 5px;
	
}
div#store{
	position: absolute;
	width: 100%;
	top:90px;
}
h2#store{
	position:absolute;
	left:50%;
	top:50%;
	padding:15px;
	opacity:0.5;
	background-color:black;
	color:red;
	font-family:Arial;
	font-weight:bold;
}

div#opurchase 
{
	width: 100%;
	position:absolute;
	top:550px;
}
h2#opurchase
{
	position:absolute;
	left:46%;
	top:50%;
	opacity:0.5;
	background-color:white;
	padding:10px;
	color:red;
}
div#giftcard
{
 width: 100%;
 position:absolute;
 top: 1053px;
}
h2#giftcard
{
    position:absolute;
	left:50%;
	top:55%;
	padding:15px;
	opacity:0.5;
	background-color:#559cd2;
	color:red;
	font-family:Arial;
	font-weight:bold;
}
div#container
{
	
	background-color:white;
	height: auto;
	border:1px solid black;
}
div#lside
{ 
    float:left;
	display:inline-block;
	background-color:orange;
	width: 400px;
	height: 400px;
}
div#bxmodel
{ 
    font-family:Arial;
    color:black;
	padding:10px;
	display:inline-block;
    width: 225px;
}

table#register{
	border:1px solid #7a7c7f;
	padding: 10px;
	width: 350px;
	border-radius: 4px;
	
}
input,button
{
	width: 312px;
	border-radius: 4px;
	border:0px;
	height: 31px;
}
td
{
	padding:  5px;
}
a
{
	text-decoration:none;
}
body#header
{
	margin:0px;
	background-color: white;
}
div#header
{
	background-color: black;
}
select
{
	padding: 10px;
	width: 315px;
	text-align:center;
}
table#kyc,td
{
	font-fmaily: Arial;
	font-weight: bold;
	padding: 10px;
}
div#body
{
	background-color: #258cc4;
    color: black;
	padding: 10px;
}

div#graphics
{
	position:absolute;
	top: 100px;
}

div#headphone
{
	position: absolute;
	top: 600px;
	
}

div#mouse
{
	position:absolute;
	top: 1100px;
}

h2#graphics
{
	position: absolute;
	left: 15%;
	top:45%;
	padding: 10px;
	background-color:grey;
	border:2px solid white;
	color:white;
}
h2#headphone
{
 position:absolute;
 right: 15%;
 top: 45%;
 background-color:black;
 padding: 10px;
 color: #3993cc;
 border:2px solid white;
}  

h2#mouse
{
 position:absolute;
 left: 15%;
 top: 45%;
 background-color:black;
 padding: 10px;
 color:#ce412b;	
 border:2px solid white;
}
  